<div class="trakt-register-device">
    <table>
        <tbody>
            <tr>
                <td class="label">
                    {{t:label.trakt.verificationUrl}}
                </td>
                <td>
                    <a href="{{$VERIFICATIONURL}}" target="_blank">{{$VERIFICATIONURL}}</a>
                </td>
            </tr>
            <tr>
                <td class="label">
                    {{t:label.trakt.userCode}}
                </td>
                <td>
                    {{$USERCODE}}
                </td>
            </tr>
        </tbody>
    </table>
</div>