<div class="trakt-rating-div">
    <form action="javascript:tModal.rateEpisode({{$TRAKTID}}, {{$SEASON}}, {{$EPISODE}})" id="modalRating">
        <select name="rating" id="rating">
            <option value="1">1 Weak Sauce :(</option>
            <option value="2">2 Terrible</option>
            <option value="3">3 Bad</option>
            <option value="4">4 Poor</option>
            <option value="5">5 Meh</option>
            <option value="6" selected="selected">6 Fair</option>
            <option value="7">7 Good</option>
            <option value="8">8 Great</option>
            <option value="9">9 Superb</option>
            <option value="10">10 Totally Ninja!</option>
        </select>
        <button type="submit">
            Rate Episode
        </button>
    </form>
</div>